body {
    
    background-color: black
    ;

}

.scroll {
    overflow-x: scroll;
}

.card {

    border-radius: 2%;
}

.form {
        display: block;
        width: 100%;
        padding: 7rem;
        margin: auto;
        outline: none;

}
